h1 
{
    text-align: center;
}

.TopPanel ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

.TopPanel li
{
    float: left;
}

.TopPanel li:hover
{
    background-color: red;
}

.TopPanel a
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
}
