h1 
{
    text-align: center;
}

.NavigationBar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

.NavigationBar li
{
    float: left;
}

.NavigationBar li:hover
{
    background-color: red;
}

.NavigationBar a
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
}

.RegistrationPanel input
{
    margin-bottom: 10px;
}

.RegistrationPanel 
{ 
    text-align: center;
}