h1 
{
    text-align: center;
}

.NavigationBar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99592a;
}

.NavigationBar li
{
    float: right;
}

.NavigationBar li:hover
{
    background-color: red;
}

.NavigationBar a
{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.RegistrationPanel input
{
    margin-bottom: 10px;
}

.RegistrationPanel 
{ 
    text-align: center;
}

.news
{
    height: 20vh;
    /* padding: 50px; */
    background-color: darkgrey;
    text-align: center;
}
.ControlPanel1
{
    display: inline-block;
    border: 10px solid black;
    margin: 10px;
    padding: 10px;
    background-color: pink;
    text-decoration: none;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header ul
{
    width: 70%;
    justify-content: right;
    display: flex;
    list-style: none;
    background-color: #99592a;

}
.header a
{
    display: block;
    color: black;
    padding: 30px;
    margin: 10px;
   
    text-decoration: none;
    border: 10px solid black;

}
.header img
{
    height: 10vh;
}