<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>

<body style="background-image: url(BookBackground.jpg);">

    <h1 style="color: #f8f9fa;">Books catalog</h1>
    <h2 style="color: #f8f9fa; justify-content: center; display: flex;">Most popular</h2>
    <div class="BookCategory">
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>

        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
    </div>
    <h2 style="color: #f8f9fa; justify-content: center; display: flex; margin-top: 20px;">Most popular polish
        lectures</h2>

    <div class="BookCategory">
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>

        </div>
        <div class="BookCategoryItems">
            <img src="" alt="">
            <h3>Tytuł</h3>
            <p>Autor</p>
        </div>
    </div>
</body>

</html>