<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Biblioteka - logowanie</title>
</head>

<body>
  <nav class="NavigationBar">
    <ul>
      <li><a href="MainPage.html">Strona główna</a></li>
      <li><a href="AboutUs.html">O nas</a></li>
      <li><a href="LoginPanel.html">Zaloguj się</a></li>
      <li><a href="Contact.html">Kontakt</a></li>
    </ul>
  </nav>
  <h1 text-align="center">Biblioteka - logowanie</h1>
  <div class="LoginPanel">
    <form action="/login" method="post">
      <input type="text" placeholder="Nazwa użytkownika" id="login" name="email"><br>
      <input type="password" placeholder="Hasło" id="password" , name="password"><br><br>
      <input type="submit" value="Zaloguj się" id="SubmitPassword"><br>
      <a href="">Zapomniałem hasła</a><br>
      <a href="RegistrationPanel.html">Zarejestruj się</a>
    </form>
  </div>

</body>

</html>