<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Biblioteka - logowanie</title>

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body style="background-image: url('LoginBackground.jpg'); ">
  <div class="LoginPanel">
    <h1>Sign In</h1>
    <form action="/login" method="post">
      <input type="text" placeholder="E-mail" id="login" name="email"><br>
      <input type="password" placeholder="Password" id="password" , name="password"><br><br>
      <input type="submit" value="Sign In" id="SubmitPassword"><br>
      <a href="">Forgot password</a><br>
      <a href="RegistrationPanel.html">Registration</a>
    </form>
  </div>

</body>

</html>