<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Biblioteka - strona główna</title>
</head>

<body>
  <div class="header">
    <img src="Logo.png" alt="Library logo" id="logo">
    <ul>
      <li><a href="MainPage.html">Strona główna</a></li>
      <li><a href="AboutUs.html">O nas</a></li>
      <li><a href="LoginPanel.html">Zaloguj się</a></li>
      <li><a href="Contact.html">Kontakt</a></li>
    </ul>

  </div>
  <div class="Banner">
  </div>

  <div>
    <h1>Most popular books</h1>
  </div>

  <div class="icons">
    <div class="IconsElements">
      <img src="Dziady.jpg" alt="">
      <h2>Dziady część III</h2>
      <p>Adam Mickiewicz</p>
    </div>
    <div class="IconsElements">
      <img src="Krzyżacy.jfif" alt="">
      <h2>Krzyżacy</h2>
      <p>Henryk Sienkieicz</p>
    </div>
    <div class="IconsElements">
      <img src="Balladyna.jpg" alt="">
      <h2>Balladyna</h2>
      <p>Juliusz Słowacki</p>
    </div>
    <div class="IconsElements">
      <img src="Lalka.jfif" alt="">
      <h2>Lalka</h2>
      <p>Bolesław Prus</p>
    </div>
    <div class="IconsElements">
      <img src="Treny.jpg" alt="">
      <h2>Treny</h2>
      <p>Jan Kochanowski</p>
    </div>
    <div class="IconsElements">
      <img src="Pan Tadeusz.jpg" alt="">
      <h2>Pan Tadeusz</h2>
      <p>Adam Mickiewicz</p>
    </div>
    <div class="IconsElements">
      <img src="Potop.jpg" alt="">
      <h2>Potop</h2>
      <p>Henryk Sienkiewicz</p>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>O nas</h3>
      </div>

      <div class="footer-section contact">
        <h3>Kontakt</h3>
        <p>Adres: ul. Biblioteczna 123, 00-000 Miasteczko</p>
        <p>Email: kontakt@biblioteka.pl</p>
      </div>

      <div class="footer-section links">
        <h3>Przydatne linki</h3>
        <ul style="list-style: none;">
          <li><a href="Regulamin.html">Regulamin</a></li>
          <li><a href="PolitykaPrywatnosci.html">Polityka prywatności</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p> 2023 Biblioteka - Wszelkie prawa zastrzeżone.</p>
    </div>
  </footer>

</body>

</html>

</body>

</html>