<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Library</title>

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="header">
    <img src="Logo.png" alt="Library logo" id="logo">
    <ul>
      <li><a href="MainPage.html">Main page</a></li>
      <li><a href="AboutUs.html">About us</a></li>
      <li><a href="Contact.html">Contact</a></li>
      <li><a href="/login">Sign in</a></li>
    </ul>

  </div>
  <div class="Banner">
  </div>

  <div>
    <h1>Most popular books</h1>
  </div>

  <div class="icons">
    <div class="IconsElements">
      <img src="Dziady.jpg" alt="">
      <h2>Dziady część III</h2>
      <p>Adam Mickiewicz</p>
    </div>
    <div class="IconsElements">
      <img src="Krzyżacy.jfif" alt="">
      <h2>Krzyżacy</h2>
      <p>Henryk Sienkieicz</p>
    </div>
    <div class="IconsElements">
      <img src="Balladyna.jpg" alt="">
      <h2>Balladyna</h2>
      <p>Juliusz Słowacki</p>
    </div>
    <div class="IconsElements">
      <img src="Lalka.jfif" alt="">
      <h2>Lalka</h2>
      <p>Bolesław Prus</p>
    </div>
    <div class="IconsElements">
      <img src="Treny.jpg" alt="">
      <h2>Treny</h2>
      <p>Jan Kochanowski</p>
    </div>
    <div class="IconsElements">
      <img src="Pan Tadeusz.jpg" alt="">
      <h2>Pan Tadeusz</h2>
      <p>Adam Mickiewicz</p>
    </div>
    <div class="IconsElements">
      <img src="Potop.jpg" alt="">
      <h2>Potop</h2>
      <p>Henryk Sienkiewicz</p>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>About us</h3>
      </div>

      <div class="footer-section contact">
        <h3>Contact</h3>
        <p>Address: ul. Biblioteczna 123, 00-000 Miasteczko</p>
        <p>Email: kontakt@biblioteka.pl</p>
      </div>

      <div class="footer-section links">
        <h3>Links</h3>
        <ul style="list-style: none;">
          <li><a href="Regulamin.html">Statute</a></li>
          <li><a href="PolitykaPrywatnosci.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>2023 Library - All rights reserved.</p>
    </div>
  </footer>

</body>

</html>

</body>

</html>