<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Library - Registration</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

<body>
    <h1>Registration</h1>
    <form class="LoginPanel" method="POST" action="/register">
        <input type="text" placeholder="first name" name="firstName"><br>
        <input type="text" placeholder="surname" name="lastName"><br>
        <input type="text" placeholder="E-mail" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="password" placeholder="confrim password" name="confirmPassword"> <br>
        <input type="submit" value="Sign up"><br>
        <label for="Checkbox1">I accept the website regulations *</label>
        <input type="checkbox" id="Checkbox1" name="acceptRules">
    </form>

</body>

</html>