<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Biblioteka - Rejestracja</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

<body>
    <h1>Rejestracja użytkownika</h1>
    <form class="RegistrationPanel" method="POST" action="/register">
        <input type="text" placeholder="imie" name="firstName"><br>
        <input type="text" placeholder="nazwisko" name="lastName"><br>
        <input type="text" placeholder="Adres e-mail" name="email"><br>
        <input type="password" placeholder="Hasło" name="password"><br>
        <input type="password" placeholder="Powtórz hasło" name="confirmPassword"> <br>
        <input type="submit" value="Zarejestruj się"><br>
        <label for="Checkbox1">Akceptuje regulamin strony *</label>
        <input type="checkbox" id="Checkbox1" name="acceptRules">
    </form>

</body>

</html>