<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>User Panel</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <script src="UserPanelForms.js"></script>
</head>

<body style="background-image: url(LoginBackground.jpg);">
    <h1 id="UserPanel_h1">User Panel</h1>

    <button id="button0" class="UserDashboard" onclick="showBookCatalog()">Book catalog</button><br>
    <button id="button1" class="UserDashboard" onclick="showMyRentals()">My rentals</button><br>
    <button id="button2" class="UserDashboard" onclick="showRentForm()">Rent a book</button><br>
    <button id="button3" class="UserDashboard" onclick="showExtendForm()">Extend the rental</button><br>
    <button id="button4" class="UserDashboard" onclick="showReturnForm()">Return the book</button><br>
    <button id="button5" class="UserDashboard" onclick="logout()">Log out</button><br>

    <div id="content-container"></div>


</body>

</html>