<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>UserPanel</title>
</head>

<body>
    <h1>Panel użytkownika</h1>
    <div class="ControlPanel1"><a href="">Katalog książek</a></div>
    <div class="ControlPanel1"><a href="">Moje wypozyczenia</a></div>
    <div class="ControlPanel1"><a href="">Wypozycz ksiazke</a></div>
    <div class="ControlPanel1"><a href="">Przedłuż wypożyczenie</a></div>
    <div class="ControlPanel1"><a href="">Zwroc ksiazke</a></div>
</body>

</html>