h1 
{
    text-align: center;
}

.NavigationBar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99592a;
}

.NavigationBar li
{
    float: right;
}

.NavigationBar li:hover
{
    background-color: red;
}

.NavigationBar a
{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.RegistrationPanel input
{
    margin-bottom: 10px;
}

.RegistrationPanel 
{ 
    text-align: center;
}

.news
{
    height: 20vh;
    /* padding: 50px; */
    background-color: darkgrey;
    text-align: center;
}
.ControlPanel1
{
    border: 10px solid black;
    margin: 10px;
    padding: 10px;
    background-color: pink;
    text-decoration: none;
    width: 15%;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header ul
{
    width: 70%;
    justify-content: right;
    display: flex;
    list-style: none;
    background-color: #99592a;

}
.header a
{
    display: block;
    color: black;
    padding: 30px;
    margin: 10px;
   
    text-decoration: none;
    border: 10px solid black;

}
.header img
{
    height: 10vh;
}
/* .LoginPanel
{
    margin: auto;
    padding: 1vw;           
    height: 50%;
    width: 50%;
    text-align: center;
    border: 10px solid pink;
} */

.MainPage
{
    text-align: center;
}
.icons 
{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.icons div 
{
    text-align: center;
    margin: 0,10px;
}
.icons img
{
    width: 10vw;
    margin: 5px;
    height: auto;
    padding: 20px 20px 150px;   
   
}
.IconsElements:hover
{
    background-color: lightslategray;
}
.AdminButtons 
{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 25%;
}

.AdminForms
{
    display: none;
    width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
}
.LoginPanel {
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    border: 2px solid #99592a;
    background-color: #f5f5f5;
  }
  
  .LoginPanel input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .LoginPanel button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .LoginPanel button:hover {
    background-color: #0056b3;
  }
.IconsElements
{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}